<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectSEM3</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/font.css" rel="stylesheet" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header id="masthead" class="site-header">
        <div id="cshero-header" class="header-3">

            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 top-left-3">


                            <a class="go_to_login_link" href="javascript:void(0)">Login / Register</a>
                            <a href="#">FAQ</a><a href="#">Contact Us</a>
                        </div>
                        <div class="col-xs-12 col-md-6 top-right-3">
                            <div class="wrap-book-shelf clearfix">
                                <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/images/icon-1.png"
                                     alt="icon 1">
                                <div class="content">
                                    <a href="javascript:void(0)"
                                       alt="My Account">
                                        <h5>Bookshelf</h5>

                                    </a>
                                    <span class="aj-count">
                                        Books
                                    </span>
                                </div>
                            </div>
                            <div class="wrap-your-basket clearfix">
                                <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/images/icon-2.png"
                                     alt="icon 2">
                                <div class="content">
                                    <h5>
                                        <a href="javascript:void(0)">

                                            Your Basket
                                        </a>
                                    </h5>
                                    <span>
                                        0.00
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-middler">
                <div class="container">

                    <div class="row">

                        <div class="col-xs-12 col-md-4 col-lg-3">

                            <div class="main-logo-3"><a href="javascript:void(0)"><img alt="Book Junky" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/images/logo-2.png"></a></div>
                            <a href="#" class="menu"><i class="fa fa-bars"></i> Menu</a>
                        </div>

                        <div class="col-xs-12 col-md-8 col-lg-9">

                            <form class="searchform clearfix" method="get">
                                <div class="wrap-search clearfix">
                                    <input type="text" class="form-search" name="s" value="" placeholder="Search for the perfect book...">

                                    <div class="wrap-cat">

                                        <select name="product_cat" id="product_cat">

                                            <option value="">Browse Categories</option>
                                            <option value=business>Business</option>
                                            <option value=children>Childrens</option>
                                            <option value=comedy>Comedy</option>
                                            <option value=comic>Comic</option>
                                            <option value=cooking>Cooking</option>
                                            <option value=fiction>Fiction</option>
                                            <option value=home-garden>Home &amp; Garden</option>
                                            <option value= media>Media</option>
                                            <option value=romance>Romance</option>
                                            <option value=science>Science</option>
                                            <option value=space-nature>Space &amp; Nature</option>
                                            <option value=thriller>Thriller</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="search-submit">Go</button>
                                <input type="hidden" name="post_type" value="product" />
                            </form>
                        </div><!-- #site-logo -->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div id="header-navigation" class="col-xs-12 cshero-main-header sticky-desktop">

                        <nav id="site-navigation" class="main-navigation">

                            <div class="menu-primary-menu-container">
                                <ul id="menu-primary-menu" class="nav-menu menu-main-menu">
                                    <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children no_group abccs menu-item-11" data-depth="0">
                                        <a href="javascript:void(0)" class=""><span class="menu-title">Home</span></a>
                                        <ul class='standar-dropdown standard autodrop_submenu sub-menu' style="width:200px;">
                                            <li id="menu-item-420" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-420" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">HomePage 1</span></a></li>
                                            <li id="menu-item-419" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-419" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">HomePage 2</span></a></li>
                                            <li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-421" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">HomePage 3</span></a></li>
                                            <li id="menu-item-418" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-418" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">HomePage 4</span></a></li>
                                            <li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-417" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">HomePage 5</span></a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-514" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-mega-menu no_group menu-item-514" data-depth="0">
                                        <a href="#" class=""><span class="menu-title">Mega Menu</span></a>
                                        <ul class='multicolumn columns4 drop_to_center sub-menu' style="width:800px;">
                                            <li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children group menu-item-515" data-depth="1">
                                                <a href="#" class=""><span class="menu-title">Featured</span></a>
                                                <ul class='   sub-menu' style="">
                                                    <li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-516" data-depth="2"><a href="#" class=""><span class="menu-title">Highest Rated Fiction</span></a></li>
                                                    <li id="menu-item-517" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-517" data-depth="2"><a href="#" class=""><span class="menu-title">Bestsellers</span></a></li>
                                                    <li id="menu-item-518" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-518" data-depth="2"><a href="#" class=""><span class="menu-title">Clearance Books</span></a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children group menu-item-519" data-depth="1">
                                                <a href="#" class=""><span class="menu-title">Categories</span></a>
                                                <ul class='   sub-menu' style="">
                                                    <li id="menu-item-520" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-520" data-depth="2"><a href="#" class=""><span class="menu-title">Crime &#038; Detectives</span></a></li>
                                                    <li id="menu-item-521" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-521" data-depth="2"><a href="#" class=""><span class="menu-title">Comedy</span></a></li>
                                                    <li id="menu-item-522" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-522" data-depth="2"><a href="#" class=""><span class="menu-title">Fantasy Fiction</span></a></li>
                                                    <li id="menu-item-524" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-524" data-depth="2"><a href="#" class=""><span class="menu-title">Horror</span></a></li>
                                                    <li id="menu-item-525" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-525" data-depth="2"><a href="#" class=""><span class="menu-title">Mystery</span></a></li>
                                                    <li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-526" data-depth="2"><a href="#" class=""><span class="menu-title">Romantic</span></a></li>
                                                    <li id="menu-item-527" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-527" data-depth="2"><a href="#" class=""><span class="menu-title">Tragedy</span></a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-528" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no-title group title menu-item-528" data-depth="1">
                                                <ul class='   sub-menu' style="">
                                                    <li id="menu-item-529" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-529" data-depth="2"><a href="#" class=""><span class="menu-title">Thriller / Suspense</span></a></li>
                                                    <li id="menu-item-530" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-530" data-depth="2"><a href="#" class=""><span class="menu-title">Fairy Tales</span></a></li>
                                                    <li id="menu-item-531" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-531" data-depth="2"><a href="#" class=""><span class="menu-title">Fan Fiction</span></a></li>
                                                    <li id="menu-item-532" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-532" data-depth="2"><a href="#" class=""><span class="menu-title">Fictional Biography</span></a></li>
                                                    <li id="menu-item-533" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-533" data-depth="2"><a href="#" class=""><span class="menu-title">Western</span></a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-535" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children group menu-item-535" data-depth="1">
                                                <ul class='   sub-menu' style="">
                                                    <li id="menu-item-537" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-537" data-depth="2">
                                                    <li id="custom_html-5" class="widget_text widget widget_custom_html"><h5 class="wg-mega-menu-title">Featured book</h5><div class="textwidget custom-html-widget"><a href="#"><img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/mega-menu.png" alt="Featured Book"></a></div></li>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                </li>
                                <li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children no_group menu-item-250" data-depth="0">
                                    <a href="javascript:void(0)" class=""><span class="menu-title">Shop</span></a>
                                    <ul class='standar-dropdown standard autodrop_submenu sub-menu' style="width:200px;">
                                        <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-403" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">Shop Cart</span></a></li>
                                        <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-402" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">Shop Checkout</span></a></li>
                                        <li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-product no_group menu-item-404" data-depth="1"><a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-world-of-abstract-art" class=""><span class="menu-title">Single Book</span></a></li>
                                        <li id="menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-470" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">User Profile</span></a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no_group menu-item-17" data-depth="0">
                                    <a href="#" class=""><span class="menu-title">Pages</span></a>
                                    <ul class='standar-dropdown standard autodrop_submenu sub-menu' style="width:200px;">
                                        <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no_group menu-item-236" data-depth="1">
                                            <a href="#" class=""><span class="menu-title">Shortcodes</span></a>
                                            <ul class='   sub-menu' style="">
                                                <li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-242" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Buttons</span></a></li>
                                                <li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-241" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Lightboxes</span></a></li>
                                                <li id="menu-item-426" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-426" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Book Displays</span></a></li>
                                                <li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-240" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Message Boxes</span></a></li>
                                                <li id="menu-item-239" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-239" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Team</span></a></li>
                                                <li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-238" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Accordions</span></a></li>
                                                <li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-237" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">News Styles</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children no_group menu-item-107" data-depth="0">
                                    <a href="javascript:void(0)" class=""><span class="menu-title">News</span></a>
                                    <ul class='standar-dropdown standard autodrop_submenu sub-menu' style="width:200px;">
                                        <li id="menu-item-114" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-114" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">News Grid</span></a></li>
                                        <li id="menu-item-257" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-257" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">News Review</span></a></li>
                                        <li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-110" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">News Fullwidth</span></a></li>
                                        <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-234" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">News Right Sidebar</span></a></li>
                                        <li id="menu-item-235" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-235" data-depth="1"><a href="javascript:void(0)" class=""><span class="menu-title">News Left Sidebar</span></a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-99" data-depth="0"><a href="javascript:void(0)" class=""><span class="menu-title">Contact Us</span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!-- #site-navigation -->


    </header>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div id="footer-top">
            <div class="container">
                <div class="row">

                    <div class="wrap-about col-md-3 col-sm-12 col-xs-12 col-lg-4">
                        <div class="footer-about">
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/"><img class="logo-footer" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/images/footer-logo.png" alt="Book Junky"></a>
                            <p>Suspendisse potenti. Nulla facilisi. Vestibulum non blandit nulla. Vivamus id orci condimentum, suscipit nunc non, viverra justo. Phasellus sit amet justo ac felis sagittis elementum a at dui.</p>
                            <ul>
                                <li><a href="#"><i class="zmdi zmdi-facebook-box"></i></a></li>
                                <li><a href="#"><img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/images/instagram.png" alt="Instagram"></a></li>
                                <li><a href="#"><i class="zmdi zmdi-twitter-box"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <aside id="recent_views_book_2-2" class="widget-footer widget_recent_views_book_2">
                            <h3 class="wg-ft-title">THIS WEEKS REVIEWD</h3>        <div class="recent-review-2">
                                <div class="recent-review-item clearfix">

                                    <div class="thumbnail-review" style="box-shadow: 0 5px 15px -5px #ededa6">
                                        <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-happy-lemon">
                                            <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/the_happy_lemon.jpg" alt="Thumbnail">
                                        </a>
                                    </div>
                                    <div class="contents">

                                        <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-happy-lemon" class="title">

                                            The Happy Lemon
                                        </a>
                                        <div class="author-product">
                                            by Kurt Yamashita
                                        </div>

                                        <div class="woocommerce"><div class="woocommerce-product-rating"><span class="star-rating" style="color:;"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5 based on <span class="rating">2</span> customer ratings</span></span></div></div>
                                    </div>
                                </div>
                                <div class="recent-review-item clearfix">

                                    <div class="thumbnail-review" style="box-shadow: 0 5px 15px -5px #081720">
                                        <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-girl-of-ink-and-stars">
                                            <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/the_girl_of_ink_and_stars.jpg" alt="Thumbnail">
                                        </a>
                                    </div>
                                    <div class="contents">

                                        <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-girl-of-ink-and-stars" class="title">

                                            The Girl of Ink and Stars
                                        </a>
                                        <div class="author-product">
                                            by Kiran M. Hargrave
                                        </div>

                                        <div class="woocommerce">
                                            <div class="woocommerce-product-rating">
                                                <span class="star-rating ">
                                                    <span style="width:0%"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="recent-review-item clearfix">

                                    <div class="thumbnail-review" style="box-shadow: 0 5px 15px -5px #e9e7e8">
                                        <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=shattered">
                                            <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/shattered.jpg" alt="Thumbnail">
                                        </a>
                                    </div>
                                    <div class="contents">

                                        <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=shattered" class="title">

                                            Shattered
                                        </a>
                                        <div class="author-product">
                                            by Peter Cawdron
                                        </div>

                                        <div class="woocommerce">
                                            <div class="woocommerce-product-rating">
                                                <span class="star-rating ">
                                                    <span style="width:0%"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div><div class="col-md-3 col-sm-12 col-xs-12">
                        <aside id="custom_html-2" class="widget_text widget-footer widget_custom_html">
                            <h3 class="wg-ft-title">GENRES</h3><div class="textwidget custom-html-widget">
                                <ul>
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Comedy</a></li>
                                    <li><a href="#">Drama</a></li>
                                    <li><a href="#">E-Books</a></li>
                                    <li><a href="#">Horror</a></li>
                                    <li><a href="#">Kids</a></li>
                                    <li><a href="#">Romantic Comedy</a></li>
                                    <li><a href="#">Sci-Fi</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div><div class="col-md-3 col-sm-12 col-xs-12 col-lg-2">
                        <aside id="custom_html-3" class="widget_text widget-footer widget_custom_html">
                            <h3 class="wg-ft-title">CONTACT</h3><div class="textwidget custom-html-widget">
                                <ul>
                                    <li>BookJunky,</li>
                                    <li>80 Crown Street,</li>
                                    <li>London, WC2B 7UJ</li>
                                    <li>&nbsp;</li>
                                    <li>Call: <a href="tel:07724100110">0772 410 0110</a></li>
                                    <li><a href="mailto:email@bookjunky.co.uk">Email:email@bookjunky.co.uk</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div><!-- #footer-top -->

        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        Copyright © 2019 <a href="https://siingroup.com">SiinGroup. </a>All Right Reserved
                    </div>
                </div>
            </div>
        </div><!-- #footer-bottom -->

    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
